@import "../variablesColores";

// .makeStyles-root-21 {
//   margin-left: 0;
// }

.makeStyles-root-34 {
  width: 65%;
}

.barra {
  display: flex;
  justify-content: space-between;
  background: $Morado;
  width: 100vw;
  height: 10vh;
  padding: 0.5rem 0;
  color: $Blanco;
  padding: 1em;
  // margin-Top:10vh;
}
