@import '../variablesColores';

.boxes {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 35vh;
    color: $Blanco;
    margin-Top:15vh;
    margin-bottom:8vh;
}

.purpleBox{
    background: $Lila-Claro;
    width: 26vw;
    height: 35vh;
    color: $Blanco;
    padding-left: 1vw;
}

.darkGrayBox{
    background: $Gris-Medio;
    width: 26vw;
    height: 35vh;
    color: $Blanco;
    padding-left: 1vw;
}

.grayBox{
    background: $Gris-Claro;
    width: 26vw;
    height: 35vh;
    color: $Morado;
    padding-left: 1vw;
}

.boxTittle{
    border-bottom: 3px;
    border-bottom-style: solid;
    border-color: #ffffff;
    
}
.boxBotton{
    display: flex;
    justify-content:flex-end;
    margin-top: 6vh;
    margin-right: 1vh;
}

.graphicsZone{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    width: 80vw;
    height: 45vh;
}
