@import "../variablesColores";

.boxesReporte {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 70vh;
  color: black;
  margin-top: 2vh;
  margin-bottom: 5vh;
  background: $Gris-Claro;
  padding: 1vh;
}
.texto {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
