@import "../variablesColores";

.boxesReporte {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 70vh;
  color: black;
  margin-top: 2vh;
  margin-bottom: 5vh;
  background: $Gris-Claro;
  padding: 1vh;
}
.texto {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.content-filter-reporte {
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  // padding: 0 77px 0 64px;
  .select-category {
    width: 160px;
    padding: 8px 18px;
    background-color: $Gris-Claro;
  }
  // select option:hover {
  //   background-color: $Lila-Claro !important;
  // }
}

.content-button {
  display: flex;
  justify-content: flex-end;
}
