@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../variablesColores";

* {
  box-sizing: border-box;
}

.reclamo {
  border: 3px solid $Morado;
  .icon-alert {
    margin-right: 18px;
  }
  .span {
    font-size: 20px;
    color: $Gris-Medio;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 23, 44px;
  }
  .count {
    color: red;
    font-size: 32px;
  }
}
