
.MuiListItemIcon-root {
    color: white;
    display: inline-flex;
    min-width: 56px;
    flex-shrink: 0;
}
// .MuiTypography-displayBlock {
//     color: white;
//     display: block;
// }
// .MuiListItemText-root {
//     color: white;
// }
.MuiListItem-button {
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    &:hover{
        background-color:  rgba(110, 60, 210, 1);
    }
}


