.logo-cont{
    height:150px;
    cursor: pointer;
    margin:auto;
}
    .logo{
        display:block;
        padding:10px;
        margin-left: 20px;
        width:200px;
}
   
    #icon{
        color:white;
    }
    .divLogo{
        height: 100vh;
       margin:auto;
        margin-top: 25%;
    }
    .linkClass{
        color:white;
        border-bottom: none;
    }
