@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../variablesColores";
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.content-resumen {
  margin-top: 92px;
  .MuiCard-root {
    border: 3px solid #6e3cd1;
    width: 424px;
    border-radius: 8px;
    .card-header {
      padding: 22px 35px;
    }
    .details {
      display: flex;
      background-color: $Gris-Claro;
      border-top: 2px solid $Morado;
      padding: 0 21px;
      .date {
        color: $Morado;
        font-family: "Roboto", sans-serif;
        // font-weight: 400;
        font-size: 14px;
        line-height: 16, 41px;
        margin-right: 8px;
      }
      .text {
        color: $Gris-Medio;
        // font-weight: 400;
        font-size: 14px;
      }
    }
    .update-message {
      background-color: $Blanco;
      border-top: 2px solid $Morado;
      color: $Gris-Medio;
      font-size: 12px;
      text-align: center;
      .span {
        color: $Morado;
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }
  .update-title {
    font-size: 20px;
    color: $Gris-Medio;
    margin-left: 15px;
  }
  .count {
    color: red;
    font-size: 32px;
    margin: 0;
    margin-top: 11px;
  }
}

// width: 441px;
