@import "../variablesColores";

* {
  box-sizing: border-box;
}

.MuiTable-root {
  width: 100%;
  display: table;
  padding: 16px 12px;
  -webkit-border-vertical-spacing: 2rem;
  border-collapse: separate;
}

.MuiBox-root-6 {
  padding: 24px 0 !important;
}

.MuiTableCell-head {
  // border: none;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.MuiTableRow-head {
  text-align: center;
}

// .MuiTabs-scroller {
//   background: $Morado;
//   color: $Blanco;
// }
// .MuiTabs-flexContainer {
//   justify-content: space-evenly;
// }

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  // padding: 13.5px;
  // border-radius: 5px;
  // font-size: 16px;
  // margin: 0 2rem;
}
.profile:hover {
  background-color: $Gris-Claro;
  color: $Negro;
  border-radius: 5px;
  cursor: pointer;
}

th:nth-child(1) {
  padding: 8px 16px;
  width: 4rem;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  white-space: initial;
}

td:nth-child(1) {
  padding-left: 30px;
}

.edit:hover {
  background-color: $Gris-Claro;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.content-filter {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.select-category {
  width: 165px;
  padding: 6px 18px;
  background-color: $Gris-Claro;
}
