$Lila-Claro: rgba(157, 126, 219, 1);
$Morado: rgba(110, 60, 210, 1);
$Gris-Claro: rgba(231, 231, 231, 1);
$Gris-Medio: rgba(167, 168, 169, 1);
$Negro: rgba(0, 0, 0, 1);
$Rojo: rgba(255, 0, 0, 1);
$Amarillo: rgba(255, 199, 0, 1);
$Blanco: rgba(255, 255, 255, 1);
$Background-color: rgba(229, 229, 229, 1);